{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class ="ad" style="background-color: #fff; 
  width: 250px;
  margin: auto;
  border: 3px solid yellow;" >
       <div style="  margin: 5px; background-color: lightblue;">Для іменниників знижка 10 %</div> 
    </div>
<div class="row">
    
    {% for product in products %}
	<div class="col-lg-4">
        <img class="thumbnail" src="{{product.image.url}}">
		<div class="box-element product">
        <h6><strong>{{product.name}}</strong></h6>
        <hr>
        
        <button  data-product = {{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">
            + в корзину<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM4 14a1 1 0 1 1 2 0 1 1 0 0 1-2 0zm7 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
              </svg></button>
        <a class="btn btn-outline-success" href="{% url 'detailView' product.pk %}">Детальніше</a>
        <h5 style="display: inline-block; float: right">₴ {{product.price|floatformat:2}}</h5>
		</div>
	</div>
    {%endfor %}
</div>
{% endblock content %} 